<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Etiquetas META -->
    <!-- Indica la descripción de la página que aparece en buscadores. -->
    <meta name="description" content="Es una aplicacion de formulario de contacto con envio de mail">
    <!-- Lista de palabras clave separadas por comas. Google no la tiene en cuenta. -->
    <!-- <meta name="keywords" content=""> -->
    <!-- Indica el nombre del autor de la página. -->
    <meta name="author" content="Lucas Acosta">
    <!-- Indica el nombre de la aplicación web. Debería usarse sólo si es una webapp. -->
    <meta name="application-name" content="App Formulario Contacto">
    <!-- El navegador coloreará la barra de direcciones con el color hexadecimal -->
    <meta name="theme-color" content="#2C5781">
    <!-- CDN CSS Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>{% block titulo %} INICIO {% endblock titulo %}</title>
</head>
<body>
    <main class="container">

                <h2>MAIN</h2>
                {% block contenido_principal %}
                {% endblock contenido_principal %}

    </main>
    <!-- CDN JS Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>